.task {
  margin-top: 1rem;
  padding: 0.7rem;
  min-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.checkbox {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  padding-left: 1rem;
  cursor: pointer;
  max-width: 15rem;
  overflow-wrap: break-word;
}

.checkedLabel {
  padding-left: 1rem;
  cursor: pointer;
  max-width: 15rem;
  overflow-wrap: break-word;
  text-decoration: line-through;
  color: rgb(135, 132, 132);
}

.input {
  appearance: none;
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0.3);
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
  /* transition: 300ms; */
}

.input::after {
  content: "\2714";
  /* position: absolute; */
  width: 1.4rem;
  height: 1.4rem;
  font-size: 14px;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  /* padding-left: 3.5px; */
}

.input:checked::after {
  width: 1.25rem;
  height: 1.25rem;
  background: rgb(117, 141, 248);
  border-radius: 50%;
  /* transition: 500ms; */
}

.input:disabled {
  background: #ccc;
  border-color: #ccc;
}

/* .input::after {
  filter: grayscale(100%);
} */

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textarea {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  border: 1px rgb(194, 194, 194) solid;
  font-size: 1rem;
  outline: none;
}

.editDeleteButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.saveCancelButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.editButton {
  width: 3rem;
  height: 2.7rem;
  border: 1px white solid;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(117, 141, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.editButton:hover {
  background: rgb(100, 126, 244);
}

.editButton:active {
  background: rgb(72, 104, 247);
}

.editButton:disabled {
  background: rgb(168, 182, 246);
}

.deleteButton {
  width: 3rem;
  height: 2.7rem;
  border: 1px white solid;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgba(237, 65, 65, 0.807);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.deleteButton:hover {
  background: rgba(239, 40, 40, 0.807);
}

.deleteButton:active {
  background: rgba(243, 5, 5, 0.807);
}

.saveButton {
  width: 6rem;
  height: 2.7rem;
  border: 1px white solid;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(252, 151, 34);
  color: white;
  transition: 0.2s;
}

.saveButton:hover {
  background: rgb(252, 136, 3);
}

.saveButton:active {
  background: rgb(241, 155, 55);
}

.cancelButton {
  width: 6rem;
  height: 2.7rem;
  border: 1px rgb(252, 151, 34) solid;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: rgb(252, 151, 34);
  transition: 0.2s;
}

.cancelButton:hover {
  background: rgb(255, 243, 229);
}

.cancelButton:active {
  background: rgb(254, 231, 206);
}

.invalidText {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: rgba(237, 65, 65, 0.807);
}
