.tabs {
  margin-top: 1.8rem;
  font-size: 1.2rem;
  color: rgb(135, 132, 132);
  display: flex;
  justify-content: space-between;
}

.tab {
  cursor: pointer;
}

.tab:active {
  color: rgb(72, 104, 247);
}

.active {
  cursor: pointer;
  color: rgb(72, 104, 247);
}
