.profile {
  height: 100vh;
  display: flex;
}

.aside {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #73114b;
}

.section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userData {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  color: #525252;
}
