* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000;
  display: flex;
  justify-content: center;
}

.app {
  width: 25rem;
  height: 32rem;
  margin-top: 5rem;
  padding: 2rem;
  background: rgb(255 255 255 / 94%);

  &__new-task {
    display: flex;
    justify-content: space-between;

    &__input {
      width: 15rem;
      height: 2, 7rem;
      background-color: #ffffff00;
      outline: none;
    }

    &__button {
      width: 7.2rem;
      height: 2.7rem;
      color: white;
      background: rgb(117, 141, 248);
      border: 1px rgb(117, 141, 248) solid;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background: rgb(100, 126, 244);
      }

      &:active {
        background: rgb(72, 104, 247);
      }
    }
  }

  &__tabs {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: rgb(135, 132, 132);
    display: flex;
    justify-content: space-between;

    &__tab {
      cursor: pointer;

      &:hover {
        color: rgb(79, 76, 76);
      }

      &:active {
        color: rgb(117, 141, 248);
      }

      &:visited {
        color: rgb(117, 141, 248);
      }
    }
  }

  &__task-list {
    display: flex;
    gap: 1.8rem;

    &__task {
      margin-top: 1rem;
      padding: 0.7rem;
      min-height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      &__button {
        width: 3rem;
        height: 2.7rem;
        border: 1px white solid;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

.task-input {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-edit {
  background: rgb(117, 141, 248);

  &:hover {
    background: rgb(100, 126, 244);
  }

  &:active {
    background: rgb(72, 104, 247);
  }
}

.button-delete {
  background: rgba(237, 65, 65, 0.807);

  &:hover {
    background: rgba(239, 40, 40, 0.807);
  }

  &:active {
    background: rgba(243, 5, 5, 0.807);
  }
}

.input_valid {
  border: 2px rgb(199, 195, 195);
  border-style: none none solid none;
}

.input_invalid {
  border: 2px #ec5c5c;
  border-style: none none solid none;

  &::placeholder {
    color: #ec5c5c;
  }
}

.checked {
  text-decoration: line-through;
}
